@import "../../App.scss";
.switch-container {
    @include common (row, flex-end, center, 95%, null, null); 
    padding:1% 0;

    #theme-switch {
        cursor: pointer;
        color: #f5cb5c;
    @include common (row, stretch, center, null, null, null); 
        padding-left: 5px;
    }
    
}

