#header {
    background-color: #cfdbd5;
    width: 90%;
    height:5%;
    margin: auto;
    display: flex;
    align-items: center;
    color: #242423;
    font-weight: 700;
    
    #editor-header,#preview-header {
        width: 50%;
        padding-left: 0.5em;
    }
}